body{
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top:  20px;
    margin-right: 20px;
    
}
/* header */
#header{
    height: 50px;
    background-color: #0074D9;
    width: 100%
}
#logoutbtn{
    float: right;
    margin-top: 0.5%;
    background-color: #0074D9;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 1%;
}

/* user profile */

#profile{
    margin-top: 2%;
    margin-left: 2%;
    background-color: rgb(231, 238, 245);
    width: 20%;
    height: 600px;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
    display: inline-block;   
}
#current_profile{
    width: 100%;
    height: 50px;
    background-color: #0074D9;
}
#current_profile p{
text-align: center;
font-size: 25px;
font-weight: bolder; color: white;
padding-top: 10px;
}
#userImage{
    width: 250px;
    margin-top: 15%;
    margin-left: 30px;
}
.userInfo{
    margin-top: 4%;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    display: inline;
}
table {
    margin-left: 25px;
}
/* middle area */

#middle_area{
    display: inline;
     float: right;
    margin-top: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: rgb(231, 238, 245);
    width: 50%;
    min-height: 800px
    /* box-shadow: 2px 2px 10px 2px rgb(58, 57, 57); */
    /* float: right;  */
}



/* Post area */
#current_profile1{
    width: 100%;
    height: 50px;
    background-color: #0074D9;
}
#current_profile1 p{
text-align: center;
font-size: 25px;
font-weight: bolder; color: white;
padding-top: 10px;
}
#post_area{
    margin-top: 2%;
    margin-right: 2%;
    background-color: rgb(231, 238, 245);
    width: 20%;
    height: 300px;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
    float: right; 
}
#postBox{
   width: 290px;
   height: 160px;
   margin-left: 3%;
   margin-top: 2%;
}
#makePost{
    float: right;
    margin-right: 3%;
    margin-top: 2%;
    border: none;
    background-color: #0074D9;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

/* Post */
/* css  */

#postBoxDiv{
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
}
#postBoxDiv label{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

#postBoxDiv img{
    margin-left: 4%;
    width: 30px;
    margin-top: 15px;

}
#postText{
    width: 80%;
    margin-left: 8%;
    text-align: center;
}
#inputComeent {
    width: 80%;
    height: 25px;
    margin-left: 4px;

}
#postBoxDiv input[type="button"]{
    width: 18%;
    height: 30px;
    font-size: 18px;
    margin-left: 4px;
    background-color: #0074D9;
    color: white;
    border: none;
}

/* comment */
#commentDiv{
    border: 2px solid #0074D9;
    border-radius: 10px;
}
#commentDiv h3{
    margin: 0px 0px 0px 0px; 
    margin-left: 10px;
    padding: 0px 0px 0px 0px;
    color: #0074D9;
}
#comtext{
    margin-left: 20px;
}
#likeBtn{
    /* height: 15px; */
    background-color: #00b300;
    color: #ffffff;
    margin-right: 3px;
}
/* 
#commentDiv{
    display: none;
} */



 @media only screen and (max-width: 360px) {

    #header{
        height: 50px;
        width: 320px;
    }
    #profile{
        width: 310px;
        height: 400px;
    }
    #current_profile{
        width: 100%;
        height: 30px;
        background-color: #0074D9;  
    }
    #current_profile p{
    font-size: 20px;
    padding-top: 5px;
    }
    #userImage{
        width: 140px;
        margin-top: 3%;
        margin-left: 90px;
    }
    table {
        padding-left: 4 0px;
    }

#middle_area{
    margin-top: 2%;
    background-color: rgb(231, 238, 245);
    width: 300px;
    min-height: 600px

}

#post_area{
    background-color: rgb(231, 238, 245);
    width: 300px;
    height: 130px;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
    
}
#postBox{
   width: 200px;
   height: 30px;
}
#makePost{
    font-size: 18px;
}


#postBoxDiv{
    border-radius: 5px;
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
}
#postBoxDiv label{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

#postBoxDiv img{
    margin-left: 4%;
    width: 30px;
    margin-top: 15px;

}
#postText{
    width: 80%;
    margin-left: 8%;
    text-align: center;
}

.postEditDeleteBtn{
    width: 50px;
    font-size: 17px;
    background-color: #0074D9;
    color: white;
    border: none;
}
#inputComeent {
    width: 140px;
    height: 20px;
    margin-left: 4px;

}
#postBoxDiv input[type="button"]{
    width: 90px;
    font-size: 17px;
    background-color: #0074D9;
    color: white;
    border: none;
}

#commentDiv{
    border: 2px solid #0074D9;
    border-radius: 10px;
}
#commentDiv h3{
    margin: 0px 0px 0px 0px; 
    margin-left: 10px;
    padding: 0px 0px 0px 0px;
    color: #0074D9;
}
#comtext{
    margin-left: 20px;
}
}




@media only screen and (max-width: 1024px) {
    body {
      background-color: black;
    }
    #header{
        height: 50px;
        width: 100%;
    }
    #profile{
        width: 960px;
        height: 250px;
    }
    #current_profile{
        width: 100%;
        height: 30px;
        background-color: #0074D9;  
    }
    #current_profile p{
    font-size: 20px;
    padding-top: 5px;
    }
    #userImage{
        display: inline-block;
        float: left;
        width: 140px;
        margin-top: 3%;
        margin-left: 90px;
    }
    table {
        display: inline;
        padding-left: 100px;
    }

#middle_area{
    margin-top: 2%;
    background-color: rgb(231, 238, 245);
    width: 940px;
    min-height: 800px

}

#post_area{
    background-color: rgb(231, 238, 245);
    width: 940px;
    height: 130px;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
    
}
#postBox{
   width: 820px;
   height: 30px;
}
#makePost{
    font-size: 18px;
}


#postBoxDiv{
    border-radius: 5px;
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
}
#postBoxDiv label{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

#postBoxDiv img{
    margin-left: 4%;
    width: 30px;
    margin-top: 15px;

}
#postText{
    width: 80%;
    margin-left: 8%;
    text-align: center;
}
#inputComeent {
    width: 740px;
    height: 20px;
    margin-left: 4px;

}
#postBoxDiv input[type="button"]{
    width: 90px;
    font-size: 17px;
    background-color: #0074D9;
    color: white;
    border: none;
}

#commentDiv{
    border: 2px solid #0074D9;
    border-radius: 10px;
}
#commentDiv h3{
    margin: 0px 0px 0px 0px; 
    margin-left: 10px;
    padding: 0px 0px 0px 0px;
    color: #0074D9;
}
#comtext{
    margin-left: 20px;
}
}

 

 


@media only screen and (max-width: 768px) {
    body {
      background-color: black;
    }
    #header{
        height: 50px;
        width: 100%;
    }
    #profile{
        width: 690px;
        height: 250px;
    }
    #current_profile{
        width: 100%;
        height: 30px;
        background-color: #0074D9;  
    }
    #current_profile p{
    font-size: 20px;
    padding-top: 5px;
    }
    #userImage{
        display: inline-block;
        float: left;
        width: 140px;
        margin-top: 3%;
        margin-left: 90px;
    }
    table {
        display: inline;
        padding-left: 100px;
    }

#middle_area{
    margin-top: 2%;
    background-color: rgb(231, 238, 245);
    width: 690px;
    min-height: 800px

}

#post_area{
    background-color: rgb(231, 238, 245);
    width: 690px;
    height: 130px;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
    
}
#postBox{
   width: 580px;
   height: 30px;
}
#makePost{
    font-size: 18px;
}


#postBoxDiv img{
    margin-left: 4%;
    width: 30px;
    margin-top: 15px;

}

#inputComeent {
    width: 500px;
    height: 20px;
    margin-left: 4px;

}
}
 
@media only screen and (max-width: 411px) {
    body {
      background-color: black;
    }
    #header{
        height: 50px;
        width: 100%;
    }
    #profile{
        width: 360px;
        height: 400px;
    }
    #current_profile{
        width: 100%;
        height: 30px;
        background-color: #0074D9;  
    }
    #current_profile p{
    font-size: 20px;
    padding-top: 5px;
    }
    #userImage{
        width: 140px;
        margin-top: 3%;
        margin-left: 90px;
    }
    table {
        padding-left: 4 0px;
    }

#middle_area{
    margin-top: 2%;
    background-color: rgb(231, 238, 245);
    width: 360px;
    min-height: 600px

}

#post_area{
    background-color: rgb(231, 238, 245);
    width: 360px;
    height: 100px;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
    
}
#postBox{
   width: 260px;
   height: 20px;
}
#makePost{
    font-size: 15px;
}


#postBoxDiv{
    border-radius: 5px;
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
    box-shadow: 2px 2px 10px 2px rgb(58, 57, 57);
}
#postBoxDiv label{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

#postBoxDiv img{
    margin-left: 4%;
    width: 30px;
    margin-top: 15px;

}
#postText{
    width: 80%;
    margin-left: 8%;
    text-align: center;
}
#inputComeent {
    width: 140px;
    height: 20px;
    margin-left: 4px;

}
#postBoxDiv input[type="button"]{
    width: 90px;
    font-size: 17px;
    background-color: #0074D9;
    color: white;
    border: none;
}

#commentDiv{
    border: 2px solid #0074D9;
    border-radius: 10px;
}
#commentDiv h3{
    margin: 0px 0px 0px 0px; 
    margin-left: 10px;
    padding: 0px 0px 0px 0px;
    color: #0074D9;
}
#comtext{
    margin-left: 20px;
}
}
  